/* importaciones */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* variables */
:root {
  --tipografia: "Poppins", sans-serif;
  --colorFondo: #0d3140;
  --colorClaro: #3c6373;
  --colorTexto: #d9c8b4;
  --colorContraste: #8c8274;
}
/* condiciones generales */
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: var(--colorClaro);
  font-family: var(--tipografia);
  color: var(--colorTexto);
  overflow-x: hidden;
}
/*  ------ HEADER ----- */

/*  ------ nav----- */
.menuNav {
  background-color: var(--colorFondo);
}
.nav-link {
  transform: scale(0.9);
  transition: transform 1s;
}
.nav-link:hover {
  transform: scale(1.1);
}
/* Main */

main {
  margin-top: 30px;
}
.bigTitule {
  font-weight: bolder;
  font-size: 2.6em;
  color: var(--colorTexto);
}
.subtitle {
  font-weight: normal;
  font-size: 1.2em;
  color: var(--colorTexto);
}
.boton {
  background-color: var(--colorClaro);
  border-radius: 5px;
  color: var(--colorTexto);
  width: 100px;
}
/* seccion personal */
.seccion-Personal {
  display: flex;
  justify-content: space-around;
}
.seccion-Personal .boton:hover {
  color: #53debb;
}
.photoDavid {
  width: 200px;
  height: 200px;
}
/* seccion acerca de mi */
.seccion-about p {
  width: 100%;
  padding: 0 50px;
  text-align: justify;
  font-size: 1.3em;
}
.seccion-about hr {
  width: 85%;
  margin: 5px auto;
}
.seccion-about .bigTitule {
  text-align: center;
}
.bigTitule hr {
  width: 10px;
}
/*  seccion estudios y habilidades */
.seccion-about2 {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.item-studies {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  gap: 20px;
  border: 2px solid var(--colorContraste);
}
.item-studies:hover {
  border: 2px solid #53debb;
}

.seccion-studies h2 {
  text-align: center;
}
.seccion-studies img {
  width: 90px;
  height: 90px;
}
.seccion-skills {
  align-items: center;
}
.skills {
  display: grid;
  grid-auto-rows: 1fr 1fr;
  grid-template-columns: repeat(5, 1fr);
}
.item-skills {
  background-color: var(--colorFondo);
  margin: 5px 5px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid var(--colorFondo);
}
.item-skills:hover {
  background-color: var(--colorClaro);
}

/* seccion trabajos */
#Experience .bigTitule {
  text-align: center;
}
.misExperiencias {
  width: 100%;
  height: 225px;
}
/*  tarjetas de los proyectos */
.card-body {
  background-color: var(--colorContraste);
  color: black;
  font-size: 1.2em;
}

.card:hover {
  /*  nombre que se conecta con el keyframe */
  animation-name: scale;
  /*  tiempo de la duracion */
  animation-duration: 9s;
  /*  cuantas veces se va repetir la animacion */
  animation-iteration-count: infinite;
  /*  forma en que queremos  que se de el movimiento */
  animation-timing-function: linear;
  animation-direction: alternate;
}
.card-body .btn:hover {
  background-color: var(--colorClaro);
}
.card-body a {
  background-color: var(--colorFondo);
  border-radius: 5px;
  color: var(--colorTexto);
  width: 110px;
}

/* footer */
footer {
  background-color: var(--colorContraste);
  margin-top: 30px;
  color: black;
}
.redesSociales {
  color: var(--colorFondo);
}
.redesSociales i {
  color: black;
}
.redesSociales a {
  padding: 0 25px;
}

/*  seccion para animacion */
@keyframes scale {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1.2);
  }
}

/*  seccion para pagina responsive */
@media screen and (max-width: 490px) {
  .seccion-Personal {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .photoDavid {
    margin: 50px auto;
  }
  .seccion-about2 {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
  }
}
